.conteinrtLoginGeral{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1{
        margin-top: 2rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    form{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: 40%;

        input{
            background-color: antiquewhite;
            margin-top: 0.7rem;
            height: 2rem;
            text-align: center;
            border-radius: 0.3rem;
            border-width: 0;
        }
        
        button{
            margin-top: 0.7rem;
            background-color: #04b4f3;
            height: 2rem;
            font-weight: bold;
            color: #FFFFFF;
            border-radius: 0.3rem;
            border-width: 0;
        }
    }

}