.appGeral {
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  span {
    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }

  .appBotoes {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
      margin: 2rem;
      background-color: #1900fc;
      height: 3rem;
      width: 33%;
      font-size: 1.2rem;
      font-weight: bold;
      color: #FFFFFF;
      border-width: 0;
      border-radius: 2rem;
      cursor: pointer;
    }
  }

  .tabelaGeral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .dadosTabelas {
      align-items: center;
      border: 2px solid var(--preto);
      width: 95%;
      margin-top: 1rem;
      margin-bottom: 3rem;

      th {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        border: 2px solid var(--preto);
        background-color: var(--azul);
        color: var(--branco);
        padding: 0.5rem;
      }

      td {
        background-color: var(--laranjafraco);
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        font-weight: bold;
        border: 2px solid var(--preto);
        text-transform: uppercase;
        padding: 0.5rem;

        button {
          cursor: pointer;
          border-radius: 0.3rem;
        }

        .button1{
          background-color: transparent;
          height: 1.5rem;
          width: 5rem;
          color: var(--amarelo);
          font-weight: bold;
        }
        
        .button2{
          background-color: transparent;
          height: 1.5rem;
          width: 5rem;
          color: var(--vermelho);
          font-weight: bold;
        }

      }

      a {
        font-size: 1.5rem;
        background-color: transparent;
        padding: 1rem;
        color: var(--azul);
      }

      .corStatusAcampadoPendente {
        background-color: var(--amarelo);
      }

      .corStatusAcampadoAtivo {
        background-color: var(--verde);
      }

      .corStatusAcampadoInativo {
        background-color: var(--vermelho);
      }
    }
  }

  .appFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      width: 40%;

      input {
        margin-top: 0.8rem;
        height: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        border-radius: 0.8rem;
      }
    }
  }
}