*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --vermelho: #f10c0c;
  --branco: #FFFFFF;
  --preto: #000000;
  --azul: #046af9;
  --amarelo:  #f8f406;
  --laranja:  #f84f06;
  --laranjafraco:  #f6a17d;
  --verde:  #06ee0a;
}